<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>Simple Map</title>
    <title>ProfWIKI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 90%;
      }
    </style>
  </head>
  <body ng-controller="home">

    <div class="header">
        <h3 class="text-muted">Trump Maps</h3>
    </div>
    
    <!-- Map -->
    <div class="col-md-7" id="map"></div>

    <!-- Panel -->
    <div class="col-md-5">
      <div class="panel panel-default">
        <!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">Add the trump! <span class="glyphicon glyphicon-map-marker"></span></h2>
        </div>
        <!-- Panel Body -->
        <div class="panel-body">
          <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
          <form name ="addForm" novalidate>
            <!-- Text Boxes and Other User Inputs-->
            <div class="form-group">
              <label for="name">Name of the article</label>
              <input type="text" class="form-control" id="name" placeholder="XYZ" ng-model="formData.name" required>
            </div>
            <div class="form-group">
              <label for="img">Image URL</label>
              <input type="text" class="form-control" id="img" placeholder="abc.png" ng-model="formData.img" required>
            </div>
            <div class="form-group">
              <label for="latitude">Latitude</label>
              <input type="text" class="form-control" id="latitude" value="39.500" ng-model="formData.latitude" readonly>
            </div>
            <div class="form-group">
              <label for="longitude">Longitude</label>
              <input type="text" class="form-control" id="longitude" value="-98.350" ng-model="formData.longitude" readonly>
            </div>
            <!-- Submit button. Note that its tied to createUser() function from addCtrl. Also note ng-disabled logic which prevents early submits.  -->
            <button type="submit" class="btn btn-danger btn-block">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 42.360, lng: -71.058},
          zoom: 8
        });
      }
    </script>
    <script type="text/javascript" src="/javascripts/controller.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=API_KEY&callback=initMap" async defer></script>
  </body>
</html>


