<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>Simple Map</title>
    <title>ProfWIKI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZmAyMUQNq2-msGjKpg1vjm4W_iaGqbb4"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.min.js"></script>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel='stylesheet' href='/stylesheets/style_mobile.css' />
  </head>
  <body ng-controller="home">
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Trump Maps</h3>
      </div>
      <div class="row content">
        <!-- Map -->
        <div class="col-sm-7">
          <div id="map"></div>
        </div>
        <!-- Panel -->
        <div class="col-sm-5">
          <div ng-hide="showme"><center><a href="/auth/facebook" class="btn btn-default">Log in with Facebook</a></center></div>
          <div class="panel panel-default" ng-show="showme">
            <!-- Panel Title -->
            <div class="panel-heading">
              <h2 class="panel-title text-center">Add the trump! <span class="glyphicon glyphicon-map-marker"></span></h2>
            </div>
            <!-- Panel Body -->
            <div class="panel-body">
              <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
              <form name ="addForm" ng-submit="submit()" novalidate>
                <!-- Text Boxes and Other User Inputs-->
                <div class="form-group">
                  <label for="name">Name of the Trump</label>
                  <input type="text" class="form-control" id="name" placeholder="XYZ" ng-model="formData.name" required>
                </div>
                <div class="form-group">
                  <label for="latitude">Latitude</label>
                  <input type="text" class="form-control" id="latitude" value="{{formData.latLng.lat()}}" readonly required>
                </div>
                <div class="form-group">
                  <label for="longitude">Longitude</label>
                  <input type="text" class="form-control" id="longitude" value="{{formData.latLng.lng()}}" readonly required="true">
                </div>
                <div class="form-group">
                  <input type="file" accept="image/*" capture="camera" onchange="angular.element(this).scope().uploadImage(this)">
                </div>
                <!-- Submit button. Note that its tied to createUser() function from addCtrl. Also note ng-disabled logic which prevents early submits.  -->
                <button type="submit" class="btn btn-danger btn-block">Submit</button>
              </form>
            </div>
            <img id="blah" src="#" alt="your image" />
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/javascripts/controller.js"></script>
  </body>
</html>
